body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 60px;
    text-align: center;
}
h2{
    font-size: 30px;
    text-align: center;
    
}
.flexible-container{
    display: inline-block;
    background-repeat: no-repeat;
    background: position 50px;
    margin-bottom: 150px;
    color: aliceblue;
}
.div-class{
    text-align: center;
}
.link-button{
    text-decoration: none;
    text-align: center;
}
.top-banner{
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;

}
.bg{
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}