body{
    font-family: 'Roboto', sans-serif;
}
.flexible-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12% 0;
}
.top-heading{
    font-size: 60px;
}
.second-heading{
    font-size: 30px;   
}
.some-text{
    width: 800px;
    text-align: center;
}
.top-heading,
.second-heading,
.some-text,
.link-button{
    color: rgb(248, 250, 252);
}
.div-class{
    text-align: center;
}
.link-button{
    text-decoration: none;
    text-align: center;
    display:inline-block;
    background-color: rgb(138, 165, 42);
    padding: 15px 25px;
    border-radius: 5px;
}
.top-banner{
    background-image: linear-gradient(to top, rgba(0,0,0,0.3),rgba(0,0,0,0.5)), url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;

}
.bg{
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.donate-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12% 0;
}
.third-heading{
    font-size: 50px;
}
.donate-text{
    width: 800px;
    text-align: center;
    margin-bottom: 40px;
}
.amount-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.amount-container>div{
    margin-right: 15px;
}
.common-tk{
    display: inline-block;
    background-color: rgba(173, 170, 170, 0.2);
    padding: 50px;
    border-radius: 5px;
    font-size: 30px;
    color: #333;
    font-weight: 900;
}
.select-tk{
    background-color: rgba(0, 255, 0, 0.1);
    border: 3px solid rgb(0, 255, 0);
}
.other-amount{
    text-align: center;
    color: #999;
}
hr{
    width: 55%;
    background-color: #999;
}
.donate-type-container{
    display: flex;
    flex-direction: row;
    padding: 100px;
    font-size: 20px;
    justify-content: center;
    align-items: stretch;
}
.donate-type{
    width: 25%;
    margin-right: 25px;
    padding: 50px 25px;
    border-radius: 5px;
}
.donate-type:last-child{
    margin-right: 0;
}
.one-type{
    background-color: rgb(230, 253, 245);
}
.two-type{
    background-color: rgb(201, 236, 250);
}
.three-type{
    background-color: rgb(253, 209, 209);
}
.contribute-donation{
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
    font-size: 20px;
    justify-content: center;
    align-items: stretch;
    border-radius: 5px;
}
.contribute-p{
    width: 500px;
    margin-bottom: auto;
}
.contribute-btn,
.survive-btn{
    background-color: tomato;
    align-items: stretch;
}
.contribute-text1{
    float:left;
}
.contribute-img1{
    float:right;
}
.contribute-text2{
    float:right;
}
.contribute-img2{
    float: left;
}
    