body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 30px;   
}
.flexible-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12% 0;
}
.div-class{
    text-align: center;
}
.link-button{
    text-decoration: none;
    text-align: center;
}
.top-banner{
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;

}
.bg{
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}